body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}

.container {
    width: 80%;
    margin: 0 auto;
}

header {
    background-color: #333;
    color: #fff;
    padding: 30px;
    text-align: center;
}

h1 {
    margin: 0;
    font-size: 3em;
}

p {
    font-size: 1.2em;
}

section {
    padding: 50px 0;
    text-align: center;
}

h2 {
    font-size: 2.5em;
    margin-bottom: 30px;
}

td{
    border: 2px solid;
}

.tabela {
    border: solid black;
    border-collapse: collapse;
    margin: 25px auto;
    font-size: 0.9em;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

img{
    width: 100px;
    height: 100px;
}